body{
  padding-top:50px;
  padding-bottom: 50px;
  
}

h1{
  text-align: center;
  font-size: 70px;
  font-family: 'Sawarabi Mincho', serif;
}

h1 span{
  font-size: 40px;
}

.global-navi {
  text-align:center;
  margin-bottom:50px;
}

.global-navi li {
  display: inline-block;
  margin-right: 60px;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.global-navi li:last-child{
  margin-right:0;
}

.main-image{
  width:1000px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 50px;
}

.main-image img{
  width:100%;
  height:auto;
}

.hstyle{
  text-align:center;
  font-size: 14px;
  font-family: 'Sawarabi Mincho', serif;
  margin-bottom: 40px;
  line-height: 1.1;
}

.about-section,
.news-section{
  width: 1000px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 50px;
}

.hstyle span{
  font-size: 35px;
  font-family: 'Oswald', sans-serif;
  border-bottom:3px solid #000000;
  
}

.about-section ul{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  padding: 0;
  text-align:center;
}

.about-section li{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  flex: 0 1 32%;
  text-align:center;
}

.about-section li img{
  width:100%;
  height:auto;
}

.about-section h3{
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  font-family: 'Sawarabi Mincho', serif;
}

.about-section p{
  font-family: 'Sawarabi Mincho', serif;
  font-size: 16px;
  margin: 0;
  text-align: left;
  width: 100%;
}

.news-section table{
  width: 100%;
  border-top: 1px solid #dddddd;
}
.news-section th{
  font-family: 'Sawarabi Mincho', serif;
  font-weight: normal;
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 10%;
}

.news-section td{
  font-size: 14px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  padding-top: 15px;
  width: 90%;
}

.twitter-bt{
  width: 200px;
  margin-right:auto;
  margin-left:auto;
  margin-bottom: 40px;
}

.twitter-bt a { 
  background: #000000;
  color: #ffffff;
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  border-radius: 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  letter-spacing: 1.5;
}

.copy-right{
  text-align: center;
  font-size: 15px;
}
